@mixin media-query($size) {
    @media (min-width: map-get($mediaBreakpoints, $size)) {
        @content;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .5;
    }

    100% {
        opacity: 1;
    }
}